::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
}

::-webkit-scrollbar-track {
  background-color: #030303;
}

body {
  background-color: #030303;
  min-height: 100vh;
  color: white;
}

.sidebar {
  height: 100vh;
  background-color: #312525;
  padding: 0 10px;
  position: fixed;
  width: 60px;
}
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 80px;
  }
}
.sidebar img {
  width: 35px;
  height: 35px;
}
@media only screen and (min-width: 768px) {
  .sidebar img {
    width: 50px;
    height: 50px;
  }
}

.content {
  margin-left: 60px;
  width: calc(100% - 60px);
}
@media only screen and (min-width: 768px) {
  .content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

.pointer {
  cursor: pointer;
}

.edit-btn {
  background-color: #E48282;
  color: white;
  width: 100px;
}
.edit-btn:hover {
  background-color: #E4A882;
}

pre {
  font-family: Arial;
}

.gallery-card {
  width: 48%;
  margin: 10px 1%;
}
@media only screen and (min-width: 768px) {
  .gallery-card {
    width: 23%;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery-card {
    width: 18%;
  }
}

.gallery-image {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-image img {
  max-width: 100%;
  max-height: 100%;
}

.event-image-label {
  width: 30%;
  aspect-ratio: 8/12;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .event-image-label {
    width: 20%;
  }
}
.event-image-label img {
  max-width: 100%;
  max-height: 100%;
}

.image-label-hover:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  content: url("../icon/edit.svg");
}

.event-card {
  width: 100%;
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .event-card {
    width: 48%;
    margin: 10px 1%;
  }
}
@media only screen and (min-width: 1440px) {
  .event-card {
    width: 31%;
  }
}

.event-image-box {
  width: 30%;
  aspect-ratio: 8/12;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .event-image-box {
    width: 35%;
  }
}
@media only screen and (min-width: 1600px) {
  .event-image-box {
    width: 20%;
  }
}
.event-image-box img {
  max-width: 100%;
  max-height: 100%;
}

.event-info {
  width: 80%;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.dashboard-card {
  background-color: #E48282;
  width: 100%;
  margin: 15px 0;
}
@media only screen and (min-width: 768px) {
  .dashboard-card {
    width: 31%;
  }
}

.image-box {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-box img {
  max-width: 100%;
  max-height: 100%;
}

.menu-image-label {
  width: 40%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .menu-image-label {
    width: 20%;
  }
}
.menu-image-label img {
  max-width: 100%;
  max-height: 100%;
}

.menu-list-image-label {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .menu-list-image-label {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-list-image-label {
    width: 60%;
  }
}
.menu-list-image-label img {
  max-width: 100%;
  max-height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=admin-style.css.map */
